*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resetpassword-page{
    position: fixed;
    overflow: hidden;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-image: url("Supermarket.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: white;
}
.resetpassword-container{
    background: rgba(0, 0, 0, 0.308);
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
h1{
    font-size: 1.5rem;
}
input{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
button{
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.resetpassword-container button:hover{
    background-color: #74c977;
    transition: 0.5s ease-in-out;
}