<div class="login-page">
<div class="login-container">
    <h1>Login</h1>
    <form>
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button type="submit">Login</button>
        <p>Don’t have an account? 
        <a href="signup">Sign Up</a> <br>
        <a href="forgotpassword">forgot password?</a>
        </p>
    </form>
</div>
</div>


<!-- <img src="https://i.postimg.cc/CLNfdt20/Supermarket-Shoppers-and-Robots-in-Action.png" alt="login" srcset=""> -->

